<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BookFace{% endblock %}</title>
</head>
<body>

<div>
    <a href="/home/">
    <input type="button" value="Home" />
    </a>
    {% if user.is_authenticated %}
        <a href="/user/{{user.id}}">
        <input type="button" value="{{user.username}}" />
        </a>
        <a href="/add_post">
        <input type="button" value="Add post" />
        </a>
        <a href="/messages">
        <input type="button" value="Messages" />
        </a>
        <a href="/edit">
        <input type="button" value="Edit profile" />
        </a>
        <a href="/logout">
        <input type="button" value="Logout" />
        </a>

    {% for post in blogposts %}
        <br>
        {{post.date_added}}
        <br>
        {{post.author.first_name}} {{post.author.last_name}}
        <h2><a href="/post/{{post.id}}">{{post.title}}</a></h2>
        <br>
        {{post.content}}
        <br><br><br><br><br>
        {% endfor %}


        {% if random_users %}
            <br><br>Random users:<br>
        {% for user in random_users %}
            <a href="/user/{{user.id}}">{{user.first_name}} {{user.last_name}}</a><br>
        {% endfor %}
        {% endif %}

    {% else %}

        <a href="/register">
        <input type="button" value="Register" />
        </a>

        <a href="/login">
        <input type="button" value="Login" />
        </a><br>
            {% if message %}
            {{ message }}
        {% endif %}


    {% endif %}
</div>

{% block content %}

{% endblock %}

</body>
</html>